@model PictureViewModel
@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <div class="col-sm-5" id="div-box-title-1">
            <h3>What are we reading?</h3>
        </div>
        <div class="col-sm-7" id="div-box-title-2">
            <h3>Your Notes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-5" id="div-box-content-1">
            <div class="delete-box">
                <i class="fa fa-close" id="closeicon" style="font-size:48px;" onclick="closeImage()"></i>
            </div>
            <!-- SELECT PICTURE FORM -->
           @* <iframe name="picture-form" style="display:none;"></iframe>*@
            <form asp-action="Upload" asp-controller="Pictures" method="post" enctype="multipart/form-data">
                <div class="preview" id="div-image-displayer">
                    <!-- deleted position:absolute -->
                    <img id="preview-selected-image" name="preview-selected-image" />
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="input-group col-10">
                    <label asp-for="pic_PicturePath" class="custom-file-label" for="file-upload">Choose file</label>
                    <input asp-for="pic_PicturePath" type="file" name="fileToUpload" class="custom-file-input" id="file-upload" accept="image/jpeg, image/png" onchange="previewImage(event);">
                    <span asp-validation-for="pic_PicturePath" class="text-danger"></span>
                    </div>
                    <div class="input-group-append col-2">
                        <input class="btn btn-secondary" name="submit" type="submit" id="btnUpload" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-7" id="div-box-content-2">
            <div id="div-text-editor">
                <textarea></textarea>
            </div>
            <div style="margin-top: 20px">
                <button class="btn btn-secondary" type="button">Generate</button>
                <button class="btn btn-secondary" type="button">Copy to Clipboard</button>
            </div>
        </div>
    </div>
