body{
    margin: 0px;
    padding: 0px;
    background-color: #ffbe00ff;
}

#div-title{
    padding: 10px;
}

#div-box-title-1{
    background-color: #0092ff;
    padding: 10px;
    text-align: center;
    color: white;
}

#div-box-title-2{
    background-color: #00b677;
    padding: 10px;
    text-align: center;
    color: white;
}

#div-box-content-1{
    background-color: #abdbe3; 
    padding: 25px; 
    height: 600px;
}

#div-box-content-2{
    background-color: #85dab6; 
    padding: 25px; 
    height: 600px;
    position: relative;
}

#div-image-displayer{
    background-color: #bef1f9; 
    border-radius: 5px; 
    padding: 15px; 
    height: 500px; 
    overflow-y: scroll; 
    position:relative;
}


#div-text-editor{
    background-color: #bffcb1; 
    border-radius: 5px; 
    padding: 15px; 
    height: 500px;
    overflow-y: scroll; 
}


.delete-box{
    position:absolute;
    width:40px;
    height:40px;  
    top: -25;
    right: -25; 
    z-index: 50;
}

#closeicon{
    color:#004f8b;
}
#closeicon:hover{
    color:#003055;
    cursor: pointer;
}