@{
    ViewData["Title"] = "Signup Page";
}
<div class="container-logsig">
    <form class="formulario" action="/action_page.php">
        <h2>Sign Up Form</h2>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control caja" id="name" placeholder="Enter your name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control caja" id="email" placeholder="Enter your email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control caja" id="pwd" placeholder="Enter your password" name="pwd">
        </div>
        <div class="form-group">
            <label for="pwd-confirm">Confirm Password:</label>
            <input type="password" class="form-control caja" id="pwd-confirm" placeholder="Confirm your password" name="pwd-confirm">
        </div>
        <button type="submit" class="btn btn-default buttonito">Submit</button>
    </form>
</div>
